# Better Auth configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Cognito OAuth credentials
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_DOMAIN=
COGNITO_REGION=ap-northeast-1
COGNITO_USER_POOL_ID=

# GitHub OAuth credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Prisma database URL
DATABASE_URL="file:./sqlite.db"
