# Auth.js configuration
AUTH_SECRET=
AUTH_URL=http://localhost:3001

# Cognito OAuth credentials
AUTH_COGNITO_ID=
AUTH_COGNITO_SECRET=
AUTH_COGNITO_ISSUER=

# GitHub OAuth credentials
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# DynamoDB configuration
AUTH_DYNAMODB_TABLE_NAME=nextjs-auth-apps-authjs-session-table
AUTH_DYNAMODB_REGION=ap-northeast-1
